.banner{
  width: 100%;
  height: 100vh;
  background: url("/public/img/banner.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content{
  display:flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0  auto 0;
  /* justify-content: center; */
  /* color: #fff; */
}
.banner-text{
  width: 500px;

}
.banner-text h3{
  font-size: 50px;
}
.banner-text h1{
  font-size: 80px;
  line-height: 80px;
  font-weight: 800;
margin-top: 20px;
}

.banner-text p{
  font-size: 25px;
  font-weight: 400;
margin-top: 20px;
}
nav{
  width: 100%;
}
.navbar{
top: 0;
left: 0;
width: 100%;
position: absolute;

}
.navbar-text{
  display: flex;
  height: 60px;
  align-items: center;
}
.logo{
  width: 40%;
}
.logo img{
  width: 220px;
  height: 90px;
  border-radius: 5%;
}
.nav_ul{
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
 
}
nav{
  position: absolute;
}
.nav_ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.nav_ul li :hover{
  background-color: rebeccapurple;
}
.banner-btn{
  margin-top:  35px;
  font-size: larger;
}
.btn{
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 18px;
  padding: 20px 40px;

}
.btn :hover{
  color: #000;
}
.abouts{
padding: 80px 0 ;

}
.btn-smart{
  background: rgb(255,69,79);
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6
{
  padding: 0px;
  width: 50%;
  font-weight:"Montserrat-300"  ;
}

.abouts h3{
  color: rgb(141, 132, 132);
  font-family: "Montserrat";
  margin-top: 0px;
}
.about h1{
  margin-top: 0px;
  padding: 0px;
}
.p-25{
  padding: 0 40px;
}
.abouts p{
  font-size: 18px;
  font-weight: 300;
  margin-top: 0px;
  padding: 0px;
}

.about-btn{
  margin-top: 30px ;
}

.about-img{
  width: 100%;
  overflow: hidden;

}

.about-img img{
  width: 100%;
  height: 300px;
  padding: 0px 35px 0;
}
.shop{
  width: 100%;
  background: url("/public/img/abouts.jpg");
height: 450px;
background-attachment: fixed;
background-size: cover;
}
.shop-text{
  height: -450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: white;
}
/* .shop-text h1{
  font-size: 40px;
  /* line-height: 60px; 
  font-weight: 600;
  font-style: normal;
 
} */
.shop-btn{
  margin-top: 35px;
  letter-spacing: 0.5px;
  padding: 70x;
  margin-top: 389px;
  width: 100%;
}
.col-4{
  padding: 28px 7px;
}
.client{
  background: url("/public/img/client4.jpg");
  width: 100%;
  padding: 100px 0 ;
  color: #fff;
  background-attachment: fixed;
 background-size: cover;
 height: 100px;
 overflow: hidden; 
}
.count-animation {
  font-size: 36px;
  font-weight: bold;
  animation: count-up 10s ease-out; 
}

@keyframes count-up {
  from {
    opacity: 0;
    transform: translateY(30px);  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.col-3{
  width: 25%;
}
.clients{
  text-align: center;
}
.clients h1{
  font-size: 40px;
}
.clients p{
  font-size: 18px;
  font-weight: 400;

}
.row{
  justify-content: space-between;
}
.prices{
  width: 100%;
  padding: 80 0px;
  
}
.col-4{
  width: 31.333333333333333%;
}
/* .price img{
  height: 300px;
  width: 80%;
} */
.price{
  padding: 20px;
  text-align: center;
}
.price-img{
  width: 100%;
}
.price-img img{
  width: 250px;
  height: 300px;
}
.price-heading{
  margin-top: 20px;
  font-size: 19px;
}
.price-text{
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300
}
.price-rs{
  font-size: 25px;
  margin-top: 15px;
}
.no{
  color: #F0542C;
  font-family: "Montserrat";
}
.abou-btn{
  line-height: 70px;
  font-family: "Montserrat";
  padding-left: 0px;
  padding-right: 10px;
}
.col-6 p{
  color: #888888;
}
.col-6 h1,h3{
  font-family: "Montserrat";
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 
}
.menu-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.menu-icon span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
 
  
  .menu-icon {
    display: block;
    background-color: #170400;
    color: #170400;
    width: auto;
 }

  .navbar.active {
    height: auto;
  }

  .nav_ul {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 0.188em;
    left: 0;
    width: 80px;
    margin: 1px 10;
    background-color: #170400;
  line-height: 40px;
 
  }

  .nav_ul.active {
    display: flex;
  }
.nav_ul li :hover{
  background-color: rebeccapurple;
}
  .nav_ul li {
    text-align: center;
  }

  .navbar-text {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }
.banner{
  width: auto;
  box-sizing: border-box;
}
  .banner-text {
    width: auto;
    text-align: center;
  }

  .banner-text h3 {
    font-size: 25px !important;
  }
  iframe{
    width: auto;
  }

  .banner-text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    margin-top: 20px;
  }

  .banner-text p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }
.shop{
  width: 100%;
  height: auto;
}
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
    height: 100%;
    padding-right: auto;
  }
  body {
    overflow-x: hidden;
  }
  .client{
    width: auto;
    padding: 100px 0 ;
    color: #fff;
    background-attachment: fixed;
   background-size: cover;
   height: auto;
  }
  .shop{
    width: auto;
    background: url("/public/img/abouts.jpg");
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
  }
  .clients {
    margin: 0% 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    line-height: 0.3;

    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  .clients{
    text-align: center;
    width: 100%;
  }
  .clients h1{
    font-size: 30px;
  }
  .clients p{
    font-size: 17px;
    font-weight: 500;
  
  }
  .abouts{
    width: 100%;
    padding-right: 100px;
  }
  .Footer2{
    background-color: #f5f9f9;
  }
  .Footer2 h1{
    text-align: center;
    font-family: "Montserrat";
    word-spacing: 1px;
    width: 100%;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    line-height: 0;
    width: 100%;
  }
  .Footer2{
    background-color: #f5f9f9;
  }
  .Footer2 h1{
    text-align: center;
    font-family: "Montserrat";
    word-spacing: 1px;
  }
  
  .icon-container {
    display: block;
    justify-content: space-around;
    margin: 0;
    line-height: 0;
    width: auto;
    
  }
  .icon-container i {
    color: #F0542C;
    cursor: pointer;
    margin: 0; 
    padding: 0; 
    width: auto;
  }
 /* * {
width: 100%;

} */

  
}
@keyframes fa-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fa-bounce {
  animation: fa-bounce 2s infinite;
}

.copy-right {
  color: #888888;
  text-align: center; 
  word-spacing: 1px;
}

.Footer2{
  background-color: #f5f9f9;
}
.Footer2 h1{
  text-align: center;
  font-family: "Montserrat";
  word-spacing: 1px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 0;
}

.icon-container i {
  color: #F0542C;
  cursor: pointer;
  margin: 0; 
  padding: 0; 
}

/* .aa {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 0;
}

.aa a {
  color: #F0542C;
  cursor: pointer;
  text-decoration: none;
  margin: 0; /* Add this line to ensure no margin */
  /* padding: 0; /* Add this line to ensure no padding */

